<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TcpConnectionsViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TcpConnectionsViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <TcpConnectionsViewer.Properties.Settings>
            <setting name="LocalAddressIsDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocalHostnameIsDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocalPortIsDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocalPortCommonNameIsDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocalPortCommonDescriptionIsDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StateIsDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoteAddressIsDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoteMacAddressIsDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoteMacAddressManufacturerIsDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoteHostnameIsDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemotePortIsDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemotePortCommonNameIsDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemotePortCommonDescriptionIsDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoteCountryIsDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoteIspIsDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoteTimezoneIsDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoteAreaCodeIsDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoteAsnIsDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoteContinentCodeIsDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoteLongitudeIsDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoteLatitudeIsDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoteCountryCodeIsDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoteCountryCode3IsDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProcessIdIsDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProcessCaptionIsDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProcessOwnerIsDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProcessCreationDateIsDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProcessExecutablePathIsDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProcessCommandLineIsDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoteDmaCodeIsDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeSinceProcessCreationIsDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
        </TcpConnectionsViewer.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <TcpConnectionsViewer.Properties.Settings>
            <setting name="StaticVersionUri" serializeAs="String">
                <value>http://webmooch.net/LinkToLatestTcpConnectionsViewerVersionData</value>
            </setting>
            <setting name="ProjectHomepageUri" serializeAs="String">
                <value>http://webmooch.net/RedirectToTcpConnectionsViewerHome.html</value>
            </setting>
            <setting name="CrashEmailAddress" serializeAs="String">
                <value>support@webmooch.net</value>
            </setting>
            <setting name="AsyncPropertyPendingText" serializeAs="String">
                <value>pending</value>
            </setting>
            <setting name="AsyncPropertyLoadingText" serializeAs="String">
                <value>loading</value>
            </setting>
            <setting name="AsyncPropertyPendingTextColour" serializeAs="String">
                <value>EEEEEE</value>
            </setting>
            <setting name="AsyncPropertyLoadingTextColour" serializeAs="String">
                <value>CCCCCC</value>
            </setting>
        </TcpConnectionsViewer.Properties.Settings>
    </applicationSettings>
</configuration>